/* Import Google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Questrial&display=swap'); */

/* Call fonts from Google Font
font-family: 'Allura', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Questrial', sans-serif; */

/*** CSS FOR MOBILE VIEW ***/

:root {
  /* fonts variables */
  --head-font: Allura, sans-serif;
  --body-font: Questrial, sans-serif;
  --alt-font: Montserrat, sans-serif;

  /* Site colors */
  --color1: #f9f7f7;
  --color2: #dbe2ef;
  --accent1: #3f72af;
  --accent2: #112d4e;
}

body {
    background-color: var(--color2);
    max-width: 750px;
    margin: auto;
    font-family: var(--body-font);
    padding: 1em;
}

header, footer {
    background-color: var(--accent1);
    color: var(--color1);
    padding: 20px;
    
}

.myHeader::after{
    content: "";
    clear: both;
    display:table;
}

.mH_h1_name {
    font-size: 1.8em;
    text-align: left;
    position: absolute;
    color: lightblue;
    margin: 20px 15px 20px 0;
}

.mH_h1_lastName {
    font-family: var(--head-font);
    margin: 25px -50px 0 60px;
    font-size: 3em;
    color: var(--color1);
    position: absolute;
}

.mH_img {
    border: 8px solid var(--color2);
    border-radius: 10px;
    float:right;
    width: 90px;
}

li {
    padding: .3em;
}

footer {
    text-align: center;
}

.divLastModified {
    padding: 10px;
    font-size: .8em;
}