:root {
    /* fonts variables */
    --head-font: "Noto Serif", serif;
    --body-font: "Lato", sans-serif;
  
    /* Site colors */
    --color1: #d8f3dc;
    --color2: #95d5b2;
    --color3: #52b788;
    --accent1: #2d6a4f;
    --accent2: #081c15;
  }

body {
    font-family: var(--body-font);
    font-size: 16px;
    background-color: var(--color1);
}

header, nav, main, footer {
    max-width: 760px;
    margin: 0 auto;
}



header {
    color: var(--color2);
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: var(--accent2);
    border-radius: 30px 30px 30px 0;
}

header section {
    padding: 1em;
}

.l4DivLogo img {
    border: 2px solid black);
    border-radius: 30px 30px 30px 0;
}

  h1, h2, h3, h4, h5, h6 {
      font-family: var(--head-font);
  }

  nav {
      background-color: var(--accent1);
      border-radius: 30px 30px 30px 0;
  }

  nav button {
      margin: .3rem 5%;
      background-color: transparent;
      border: none;
      font-size: 1.6rem;
      color: var(--accent2)
  }

  nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  nav ul li a {
      display: block;
      text-decoration: none;
      padding: 0.8rem 2%;
      color: var(--color2);
  }

  nav ul li.active a {
      background-color: var(--accent2);
  }

  nav ul li a:hover {
      color: var(--accent2);
      background-color: var(--color2);
  }

nav ul.hide {
      display:none;
  } 

.imgPreston {
    align-content: center;
}

.contentBox {
    background-color: var(--accent1);
    color: var(--color1);
    padding: 12px;
    margin: 10px auto;
    display: block;
    border-radius: 20px 20px 20px 0;
}

  footer {
      text-align: center;
  }
  /*** Clearfix. Force an element not to collapse ***/
  .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }