/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
    nav button {display: none;}

    nav ul.hide {
        display: block;
    }

    nav ul {margin-left: 2%;}

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        padding: .8rem 1rem;
    }

    .weathersummary {
        top: 5rem;
        left: 2rem;
        padding: 1rem;
      }

      .weather_icon {
        width: 100px;
      }
    

  div#five_day {
    display: block;
    width: 100%
  }

  tbody {
    box-shadow: 0 4px 8px 0 var(--accent2);
  }

  table#forecast_table {
    width: 85%;
    padding-bottom: 25px;
  }

  th,
  td {
    border: 1px solid var(--accent1);
    text-align: center;
    color: var(--accent2);
  }

  .color_table {
    background-color: var(--color2);
  }

  table.center {
    margin-left: auto;
    margin-right: auto;
  }

  h3.five_day_title {
    font-size: 1.5rem;
  }

  .weather_icon {
    padding: 15px;
  }

  img#ice_shack {
    float: right;
    padding: 0px 0px 2px 2px;
    width: 575px;
  }

  iframe {
    display: block;
  }
  
  div#mapdiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    box-shadow: 0 4px 8px 0 var(--accent1);
    text-align: left;
    padding: .3em;
    border: solid var(--accent1);
  }

  .smicon {
    width: 60px;
    padding: 5px;
  }

} /*end medium */